.orderCompletionBox {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.orderCompletionBox > * {
  width: 50%;
}

.orderCompletionDataBox {
  padding: 25px 40px 50px 12%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* .orderCompletionDataBox > * {
  border: 1px solid red;
} */

.storeName {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.thankyouBox {
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkIcon {
  font-size: 2.3rem;
  color: var(--success-color);
}

.orderReservedBox {
  border: 1px solid var(--light-gray);
  border-radius: 7px;
  padding: 24px;
  /* SI AGREGO UN <div> con un <img> EN orderReservedBox ENTONCES DESCOMENTO ESTO */
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
}

.orderReserverdDataBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.paymentMethodDataBox,
.sectionOrderDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.orderDetailsBox {
  border: 1px solid var(--light-gray);
  border-radius: 7px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderDetailsDataBox {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  gap: clamp(15px, 50%, 90px);
  flex-wrap: wrap;
  /* max-height: 220px; */
}

.orderDetailsDataBox > div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.finalOptionsBox {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.helpLink {
  color: black;
  font-size: 0.95rem;
}

.backButton {
  background-color: black;
  color: white;
  /* height: 50px; */
  text-align: center;
  align-content: center;
  padding: 10px 15px;
  height: 55px;
  /* min-width: 35%; */
  width: 35%;
  min-width: 190px;
  border-radius: 5px;
  cursor: pointer;
}

.orderSummaryBox {
  background-color: var(--very-light-gray);
  padding: 25px 12% 50px 40px;
}
