.boxStoreSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  /* border: 1px solid red; */
  position: relative;
}

.boxProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px 35px;
  /* border: 1px solid blue; */
}

.sectionTitle {
  text-align: center;
  z-index: 1;
  font-size: 3rem;
}

.backgroundImage {
  /* border: 1px solid green; */
  height: 500px;
  opacity: 0.1;
  position: absolute;
  /* z-index: 1; */
}

@media (max-width: 450px) {
  .sectionTitle {
    text-align: center;
    font-size: 2.5rem;
  }
}
