
.boxStoreSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.boxProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px 35px;
}

.sectionTitle {
    text-align: center;
    font-size: 3rem;
}

@media (max-width: 450px) {
    .sectionTitle {
        text-align: center;
        font-size: 2.5rem;
    }
}