.boxStart {
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: calc(100vh - 65px);
}

.boxText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid red;
}

.boxText .preTitle {
    color: rgb(88, 88, 88);
}

.boxText .storeName {
    font-size: 6rem;
}

.boxText .storeSlogan {
    font-size: 1.5rem;
}

.boxImage {
    height: 80vh;
}

.boxImage > img {
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(black 92%, transparent);
}