.checkoutBox {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.checkoutBox > * {
  width: 50%;
}

.orderFormBox {
  padding: 25px 40px 50px 12%;
}

.orderForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.orderForm > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sectionTitle {
  font-size: 1.65rem;
}

/* Este de nameBox me sirve */
.namesBox,
.locationsBox {
  display: flex;
  gap: 12px;
}

/* Este de nameBox me sirve */
/* .namesBox > input,
.locationsBox > select {
  flex-grow: 1;
  width: calc(100% / 3);
} */

.finalizeOrderButton {
  text-align: center;
  align-content: center;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

.storeBranchBox {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* 
.storeBranchTitle {
  font-weight: 600;
} */

.storeBranchDataBox {
  border: 1px solid black;
  border-radius: 6px;
  padding: 15px 17px;
  background-color: var(--background-very-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storeBranchData {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.storeBranchAddress {
  font-size: 0.9rem;
}

/* ORDER SUMMARY */

.orderSummaryBox {
  background-color: var(--very-light-gray);
  padding: 25px 12% 50px 40px;
}
/* 
.orderSummaryBox > * {
  border: 1px solid red;
} */
